body {
    font-family: 'Roboto', arial;
    padding: 0;
    margin:0;
    text-align: center;
    display:flex;
    flex-direction: column;
}
body .card{
    flex: 1 1 auto;
}
.section1 {
    display:flex;
    background-color: #1F2937;
    padding: 8px 32px;
    
}
.section2 {
    

}
.section3{
    background-color: #E5E7EB;
    
}
.section4{
}
.section5{
    background-color:#1F2937
}
.nav {
   
}
.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo {
    color: white;
    font-size: x-large;
    font-weight: bold;
}
.links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap:24px;
}
a {
    text-decoration:none;
    color: #E5E7EB;
    padding: 10px;
}
.header img {
    display:flex;
    align-items:center;
    flex:1;
    max-width: 100%;
}
.header .words{
    flex:1;
    padding: 10px;
}
.words p {
    font-size: 18px;
    color: #E5E7EB;
}
.words h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header{
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
}
.header-button {
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 10px 25px;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
}
.container2 {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.info {
    max-width: 100%;
}
.box {
    display:flex;
    background-color: #3882f6;
    margin: 20px 48px;
}
footer{ 
    background-color:#1F2937;
    text-align: center;
    color: white;
    padding: 20px;
}