
body {
    font-family: 'Roboto', arial;
    padding: 0;
    margin:0;
    text-align: center;
    display:flex;
    flex-direction: column;
}
body .card{
    flex: 1 1 auto;
}
.section1 {
    background-color: #1F2937;
    padding: 1px 13em;
    
}
.section3{
    background-color: #E5E7EB;  
}
.section5{
    background-color:#1F2937
}
.container{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    
}
.logo {
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    margin-left: 20px;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap:24px;
}
a {
    text-decoration:none;
    color: #E5E7EB;
    padding: 10px;
}
.img img {
    max-width: 100%;
}
.words{
    text-align: left;
    padding: 10px;
    margin-left: 20px;
    max-width: 600px;
}
.words p {
    font-size: 18px;
    color: #E5E7EB;
}
.words h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header{
    padding: 7em 0;
    display:flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content:center;
    gap:20px;
    
}

.header-button {
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 10px 25px;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
}
.container2 {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.info {
    max-width: 100%;
}
.box {
    display:flex;
    background-color: #3882f6;
    margin: 20px 48px;
}
footer{ 
    background-color:#1F2937;
    text-align: center;
    color: white;
    padding: 20px;
}